{% extends 'back-office.html.twig' %}

{% block content %}


<p>Products list</p>

<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="info-box blue-bg">
            <div class="title">Customer</div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="info-box brown-bg">
            <div class="title">Order</div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="info-box dark-bg">
            <div class="title">Stock</div>
        </div>
    </div>
</div>

    <ul>
        <li>
            <a href="{{ path('admin_product_new') }}">Create a new product</a>
        </li>
    </ul>

    <table id="dtBasicExample" class="container table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
          <tr>
                <th>Id</th>
                <th>Idcategory</th>
                <th>Name</th>
                <th>Description</th>
                <th>Photo</th>
                <th>Color</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td><a href="{{ path('admin_product_show', { 'id': product.id }) }}">{{ product.id }}</a></td>
                <td>{{ product.idCategory }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td><br> <img src="{{ asset('uploads/images products/' ~ product.photo ) }}" class="" alt="Responsive image"><a href="{{ asset('uploads/images products/' ~ product.photo ) }}" style="width:200px; height: 200px ">voir photo</a></td>
                <td>{{ product.color }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.quantity }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_product_show', { 'id': product.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_product_edit', { 'id': product.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
