{% extends 'base.html.twig' %}

{% block body %}


    <h1>Products list</h1>

    <ul>
        <li>
            <a href="{{ path('admin_product_new') }}">Create a new product</a>
        </li>
    </ul>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Idcategory</th>
                <th>Name</th>
                <th>Description</th>
                <th>Photo</th>
                <th>Color</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td><a href="{{ path('admin_product_show', { 'id': product.id }) }}">{{ product.id }}</a></td>
                <td>{{ product.idCategory }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td><br> <a href="{{ asset('uploads/images/' ~ product.photo ) }}" style="width:200px height:200px ">voir photo</a></td>
                <td>{{ product.color }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.quantity }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_product_show', { 'id': product.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_product_edit', { 'id': product.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
